body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background: url(./images/header.jpg) no-repeat center center fixed; /* from https://css-tricks.com/perfect-full-page-background-image/ */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 11rem;
  /* 5rem === 80px, 1rem === 16px */
  /* display: grid, flex, inline-flex, inline-grid, block, inline-block, table, table-cell, table-row, table-column, table-row-group, table-column-group, table-header-group, table-footer-group, table-caption, ruby, ruby-base, ruby-text, ruby-base-container, ruby-text-container, contents, none, -webkit-box, -webkit-inline-box; */
  justify-content: center;
  align-items: center;
}

.bottom_items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.line {
  border-color: #f05f44;
  background-color: #f05f44;
  color: #f05f44;
  border-width: 0.1rem;
  width: 100%;
  max-width: 65px;
  border-radius: 5px;
}

button {
  background-color: #f05f44;
  border-color: #f05f44;
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  color: #fff;
  padding: 1.2rem 2rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
  cursor: pointer;
  /* padding-top, padding-bottom, padding-right, padding-left */
}

button:hover {
  transform: scale(1.05);
  background-color: #f14b2d;
}
