.startup {
  font-size: 2rem;
  font-weight: bold;
  color: yellow;
  margin: 0 0 0.5em 0;
  padding: 0;
}

.another {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  margin: 0 0 0.5em 0;
  padding: 0;
}

h1 {
  font-size: 12rem;
  font-weight: bold;
  color: red;
  margin: 0 0 0.5em 0;
  padding: 0;
}

p {
  font-size: 1.5rem;
  color: blue;
  margin: 0 0 1em 0;
  padding: 0;
}

img {
  width: 500px;
  height: 500px;
}

a {
  color: green;
  font-size: 1.5rem;
}

button {
  font-size: 2rem;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
}
